.menu {
    padding: 40px 40px ;
display: flex;
justify-content: space-between;
gap: 30px;
.text1 {
    font-size: 20px;
    color: black;
}


}

.menu1 {
    display: flex;
    gap: 30px;
}

.section2 {
    padding: 100px 50px;
    h1 {
        font-size: 66px;
    }

    h2 {
        font-size: 66px;
    }

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

     p {
        color: gray;
        padding-top: 200px;
     }

}

.section3 {
    display: flex;
    gap: 100px;
margin-bottom: 300px;
    .text3 {
        padding-left: 120px;
    }
   padding-right: 120px;
    padding-top: 100px;
    h1 {
        font-size: 56px;
    }

    h3 {
        font-size: 40px;
    }

    p {
        font-size: 22px;
    }


}

.section4 {
    background-color: black;

    h1 {
        color: white;
        text-align: center;
      padding-top: 250px;
      padding-bottom: 250px;
      margin-bottom: 100px;
    }
}

.section5 {
    p {
        text-align: center;
        font-size: 54px;
    }

}

.photo5 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.section6 {
display: flex;
justify-content: center;
padding-top: 200px;

img {
    width: 1207px;
}
}